/* B2Bi Custom Style */

/* Header */

.header-table{
  background-color: #fff;
  padding-top: 10px !important;
  padding-left: 20px;
}

.page-header{
  background-image: url('../images/backgrounds/header-bg-color.png');
  background-size: cover;
}

.header-empresa{
  margin-bottom: 0 !important;
}

.table td, .table th{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.footable-row-detail-value{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type=checkbox] {
  width: 21px;
  height: 21px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 27px;
}


input[type=checkbox]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    visibility: visible;
}


.nav-empresa{
  text-align: center;
  background: rgba(0,0,0,.12);
  padding: 11px 10px 9px 10px;
  width: 45px;
  list-style-type: none;
  margin-bottom: 0;
  color: #fff;
}

.nav-empresa i{
  color: #fff;
}

.empresa{
  font-size: 15px;
}

.header-empresa-select{
  display: inline-table;
}
.header-empresa-active{
  color: #fff;
  display: inline;
  background: rgba(0,0,0,.12);
  padding: 13px 13px 11px 13px;
  margin-right: 1px;
}


/* Content */

.thumbnail-name{
  font-size: 16px;
  padding: 15px;
  display: inline-flex;
}

.thumbnail p{
  padding-top: 10px;
  line-height: 70px;
  margin-bottom: 0;
  font-size: 76px;
  text-align: center;
  font-weight: 500;
}

.thumbnail small{
  text-align: center;
  margin: 0 auto;
  display: table;
  font-weight: 500;
  color: #9E9E9E;
  padding-bottom: 20px;
}

.thumbnail hr{
  margin: 0;
}

.thumbnail h6{
  font-size: 14px;
  text-align: left;
}

@media screen and (max-width: 768px){
  .header-table{
    padding-right: 20px;
    padding-bottom: 1px;
    margin-bottom: 10px;
  }
  .heading-elements.visible{
    background-color: #2196F3 !important;
    color: #fff;
  }
}

.b2bi-query{
  padding: 0px;
}

.b2bi-filter-buttons{
  padding-right: 5px;
  padding-left: 11px;
}

/* Radio & CheckBox B2bi */
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    color: #2196f3;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.checkbox label{
	padding-left: 0px;
}

.radio, .checkbox {
    margin-top: 6px;
    margin-bottom: 0px;
}

.table thead tr{
  border-bottom: 1px solid #ddd !important;
}

.datatable-header, .datatable-footer{ /* Escondendo botões de filtro */
  display: none;
}

.datatable-footer{}

.total-de-notas-recebidas{
  font-weight: bold;
  color: #2196F3;
}

.panel-heading{
  padding-left: 5px;
  padding-bottom: 5px;

}

.panel-title{
  font-weight: bold;
}

.b2bi-filter-buttons{
  margin-bottom: 20px;
}


.b2bi-filter-buttons .btn-flat{
  color: #2196F3;
  border-color: #64B5F6;
}

.b2bi-filter-buttons .active{
  background-color: #2196F3;
  color: #fff;
}

.b2bi-filter-buttons .text-slate-800, .text-slate-800:hover, .text-slate-800:focus {
    color: #fff !important;
}
